---

import { LinkCard } from '@astrojs/starlight/components';
import { LinkButton } from '@astrojs/starlight/components';
import { Code } from '@astrojs/starlight/components';
import { Card, CardGrid } from '@astrojs/starlight/components';

---

<div style="max-width:350px; padding-top: 10px; padding-left: 10px">
    <Card title="Love" icon="heart">
    </Card>
    <Card title="Code" icon="laptop">
    </Card>
    <Card title="Sponsors" icon="patreon">
        If you like <a href="https://github.com/search?q=involves%3Avic&type=pullrequests">my work</a>, consider becoming an <a href="https://github.com/sponsors/vic">sponsor</a>.
    </Card>
</div>
