---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<Default><slot /></Default>

<a href="https://love.oeiuwq.com/?utm_source=ribbon&utm_medium=web&utm_campaign=love&utm_content=thanks" style="position:fixed;padding:5px 45px;width:128px;bottom:35px;right:-50px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);box-shadow:0 0 0 3px #663399;text-shadow:0 0 0 #ffffff;background-color:#663399;color:#ffffff;;font-family:monospace;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;z-index: 9000;width: fit-content;font-size: xx-small;">with &lt;3 by @oeiuwq</a>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-S196Q77PST"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S196Q77PST');
</script>
